parameters:
    level: 0
    paths:
        - app
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    excludePaths:
        - */Tests/*
        - */Database/*
        - */Routes/*
        - 'rector.php'
        - 'app/Http/Middleware/CheckIfAdmin.php'

    ignoreErrors:
